<footer id="marketing-footer">
	

				<div class="footer__partners">
					<div class="footer__partner">
						<img src="/img/footer/google-partner.svg" alt="Google Partner">
					</div>
					<div class="footer__partner">
						<img src="/img/footer/inc.svg" alt="Inc. 5000 Awarded">
					</div>
				</div>
				<div class="footer__location">
					<div class="footer__location-phone">
						<p>Sales: <a href="tel:855-522-3600">855-522-3600</a></p>
					</div>
					<p>6509 Windcrest, Suite 100</p>
					<p>Plano, TX 75024</p>
				</div>



			<div class="footer__social">
				<a href="https://www.facebook.com/DoctorLogicUS/" target="_blank"><img src="/img/social/facebook.svg" class="footer__social-link" alt="facebook"></a>
				<a href="https://twitter.com/doctorlogicus?lang=en" target="_blank"><img src="/img/social/twitter.svg" class="footer__social-link" alt="twitter"></a>
				<a href="https://www.instagram.com/doctorlogicus/" target="_blank"><img src="/img/social/instagram.svg" class="footer__social-link" alt="instagram"></a>
				<a href="https://www.linkedin.com/company/3290319/admin/" target="_blank"><img src="/img/social/linkedin.svg" class="footer__social-link" alt="linkedin"></a>
			</div>
			<div class="footer__copyright">
				<p>©{{ 'now' | date: "%Y" }} DoctorLogic / All Rights Reserved / <a href="/privacy">Privacy Policy</a> / <a href="/terms-and-conditions">Terms</a> </p>
			</div>

		
	
</footer>
