{% if page.market_analysis_v2 %}
<script>
    // setting this global callback to initialize the app
    window.marketAnalysisConfig = init => {
        const config = {{ page.market_analysis_v2 | jsonify }};

        if (config.debug) {
            config.disableLeadSubmission = true;
        }

        // get templates (`template` elements with `data-mkt-analysis-template="<config template name>"`)
        // a `.` is used for nested templates
        const templates = {};
        document
            .querySelectorAll('template[data-mkt-analysis-template]')
            .forEach(el => {
                // make sure we have a `template`
                if (el instanceof HTMLTemplateElement) {
                    // reduce any nested names to a final target object and key
                    const [target, key] = el.dataset.mktAnalysisTemplate
                        ?.split('.')
                        .reduce(([target, prevKey], currentKey) => {
                            if (prevKey) {
                                // create a new object if needed and capture it in the `target` variable
                                target = target[prevKey] = target[prevKey] || {};
                            }

                            return [target, currentKey];
                        }, [templates, null])
                        // fallback for optional chaining
                        ?? [];

                    // assign the template content to the given target/key pair
                    if (target && key) {
                        target[key] = el.content;
                    }
                }
            });

        config.templates = {
            ...(config.templates || {}),
            ...templates,
        };

        // add api ref and register it on window
        window.__mkt_analysis_api = config.apiRef = { current: null };

        console.debug(config);

        init(document.getElementById('root'), config);

        // add listener for reset button
        document.addEventListener('click', ev => {
            if (ev.target.closest?.('[data-dl-mkt-analysis-reset]')) {
                config.apiRef.current?.reset?.();
            }
        });

        // add listener for custom dlsubmit event
        document.addEventListener('dlsubmit', ev => {
            let detail = ev.detail || {};

            if (typeof gtag === 'function') {
                gtag('event', 'dlsubmit', detail);
            } else if (typeof dataLayer !== 'undefined' && typeof dataLayer.push === 'function') {
                dataLayer.push({
                    event: 'dlsubmit',
                    ...detail,
                });
            }
        });
	};
</script>
{% if page.market_analysis_v2.debug %}
<script crossorigin src="https://cdn.jsdelivr.net/npm/react@18/umd/react.development.js"></script>
<script crossorigin src="https://cdn.jsdelivr.net/npm/react-dom@18/umd/react-dom.development.js"></script>
{% else %}
<script crossorigin src="https://cdn.jsdelivr.net/npm/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://cdn.jsdelivr.net/npm/react-dom@18/umd/react-dom.production.min.js"></script>
{% endif %}
<script src="{{ base }}/js/dl-market-analysis-v2.js?v={{ site.time | date: '%s' }}"></script>
{% endif %}