$black: var(--black);
$white: var(--white);
$brand-1: var(--brand-1);
$brand-1-rgb: var(--brand-1-rgb);
$brand-2: var(--brand-2);
$brand-3: var(--brand-3);
$gray: var(--gray);
$light-gray: var(--light-gray);
$error: var(--error);
$slider-thumb-size: var(--slider-thumb-size);
$slider-track-size: var(--slider-track-size);
$validation-font-size: var(--validation-font-size);