/******************************************************************************
* Global
******************************************************************************/
@import 'root';
@import 'vars';
@import 'mq';
@import 'mixins';
@import 'range';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include focus-fix;
}

body {
    margin: 0;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    background-color: $black;
    color: $white;
}

h2 {
    margin: 0 0 0.8rem 0;
    font-size: 2.5rem;
    font-size: clamp(2rem, 3.5vw, 3rem);
    font-weight: 700;
    text-transform: uppercase;

    small {
        display: block;
        font-size: 0.85em;
        text-transform: none;
    }
}

p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.market-analysis-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    min-height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    max-width: 1400px;

    &__heading {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        flex: 0 0 100%; // always full width inside flexbox
        margin: 0;
        padding: 20px 20px 20px 0;
        text-align: center;
        font-size: 1rem;
        font-size: clamp(1rem, 2.5vw, 2.5rem);
        font-weight: 500;

        &-h {
            margin: 0 auto 0 0;
            justify-self: flex-start;
            flex: 0 0 100%;

            @include tablet-wide {
                flex: 0 0 auto;
            }
        }

        > .input {
            flex: 0 0 100%;
            margin: 0;

            @include tablet-narrow {
                flex: 0 1 auto;

                &--select {
                    flex: 0 0 10ch;
                }
            }
        }

        .revenue-report + & {
            @include no-print;
        }
    }

    &__actions {
        order: -1;
        display: flex;
        gap: 20px;
        font-size: 1rem;

        @include tablet-narrow {
            order: unset;
        }

        @include no-print;

        a {
            color: inherit;
        }
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        @include focus-fix;

        img {
            max-width: 16px;
        }
    }

    @mixin section_base($vert_padding: 20px, $horiz_padding: 20px) {
        margin: 0 auto;
        padding: $vert_padding $horiz_padding;
        width: 100%;
        max-width: 1400px;
    }

    &__section {
        @include section_base();

        &:nth-child(even) {
            background-color: $gray;
        }
    }

    &__disclaimer {
        @include section_base($vert_padding: 0);

        &-text {
            font-size: 0.8rem;
            padding: 0.3em 0;
        }
    }
}

/*
    Input
*/
.input {
    display: block;
    margin: 0;

    &__label {
        text-transform: uppercase;
    }

    &__input,
    &__select {
        display: block;
        width: 100%;
        min-height: 32px;
        margin: 4px 0;
        padding: 1rem;
        color: $white;
        background-color: $gray;
        font-size: clamp(0.8rem, 1vw, 1rem);
        font-family: inherit;
        border: 1px solid $white;
        border-radius: 5px;

        @include focus-fix;
    }

    &__input {

        &::placeholder,
        &::-webkit-input-placeholder {
            color: $light-gray;
        }
    }

    &__select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 98%;
        background-position-y: 50%;

        &--placeholder {
            color: $light-gray;
        }
    }

    &__validation {
        font-size: max(0.8em, 14px); // don't let it get below 12px

        &--invalid {
            color: $error;
        }
    }

    &--google-place &__input-wrapper {
        position: relative;
        display: block;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: auto;
            right: 10px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background: url('/img/market-analysis/google.svg') center center/contain no-repeat;
            display: inline-block;
        }
    }

    /*
        Range
    */
    &__range-wrapper {
        display: block;
    }

    &__steps {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5em;
    }

    &__step {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: $slider-thumb-size;
        color: $white;
    }

    /*
        Toggle
    */
    &--toggle {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1rem;
        cursor: pointer;

        .toggle {
            .input__label {
                order: 1;
                cursor: inherit;
            }

            &__label {
                cursor: inherit;
            }

            &__label--1 {
                order: 2;
            }

            &__input {
                order: 3;
                appearance: none;
                position: relative;
                margin: 0;
                padding: 0;
                width: 40px;
                height: 20px;
                background: $brand-1;
                border-radius: 10px;
                z-index: 1;
                cursor: inherit;

                @include focus-fix;

                &::after {
                    content: '';
                    display: block;
                    position: relative;
                    top: 2px;
                    left: 2px;
                    width: 16px;
                    height: 16px;
                    background: $white;
                    border-radius: 8px;
                    will-change: left;
                    transition: left 0.3s;
                }

                &:checked {
                    &::after {
                        left: 22px;
                    }
                }
            }

            &__label--2 {
                order: 4;
            }
        }
    }

    /*
        Radio Group
    */
    &--radio-group {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1rem;
        cursor: pointer;
    }

    /*
        Radio
    */
    &--radio {
        .input {
            &__input {
                display: none;

                &:checked + .input__label {
                    opacity: 1;
                }
            }

            &__label {
                @include text-button;
                opacity: 0.5;
            }
        }
    }
}

/******************************************************************************
 * Page 1 and 2
******************************************************************************/
.page--1,
.page--2 {
    @include tablet-wide {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }

    .page__header {
        flex: 0 0 100%;
        text-align: center;
    }
}

.form__above {
    display: grid;
    justify-items: center;
    align-items: center;
    flex: 1;

    .page--1 & {
        max-width: 700px;

        &::before {
            content: '';
            grid-row: 1;
            grid-column: 1;
            justify-self: center;
            width: 100%;
            aspect-ratio: 1 / 1;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
        }
    }

    img {
        grid-row: 1;
        grid-column: 1;
    }
}

.form__below {
    flex: 0 0 100%;
}

.form {
    flex: 1;

    &__subtitle {
        display: block;
    }

    &__fields {
        margin-top: 20px;

        .page--2 & {
            @include desktop {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: calc(1em - #{$validation-font-size} + 4px) 1em;
                // make sure row items are aligned
                align-items: baseline;
            }
        }
    }

    .page--2 & {
        &__field--firstName {
            // add an extra gap
            margin-top: 4rem;
        }

        @include desktop {
            &__field {
                grid-column: auto / span 1;

                &--firstName {
                    // start a new row
                    grid-column-start: 1;
                    // we don't need quite as much of a gap
                    margin-top: 3rem;
                }
            }
        }
    }

    &__button {
        @include fancy-button;
        margin: 20px 0 0;
    }
}

/******************************************************************************
 * Page 3
******************************************************************************/
@keyframes dots {
    0% {
        content: '\2022';
    }

    33% {
        content: '\2022\2022';
    }

    100% {
        content: '\2022\2022\2022';
    }
}

.loading-indicator::after {
    content: '';
    display: inline-block;
    animation: dots 1s linear infinite;
}

.market-analysis-app--page-3 {
    padding: 0;
}

.page {
    &--3 {
        width: 100%;
        max-width: none;
    }

    &--3 &__header {
        position: fixed;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 2rem;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px;
        z-index: 20;
        transition: background 0.7s ease;

        .scrolled & {
            background-color: rgba(0, 0, 0, 0.7);
        }

        img {
            width: 200px;
        }

        .header__buttons {
            display: flex;
            gap: 1ch;
            justify-content: flex-end;
        }

        button {
            @include fancy-button;
            justify-self: flex-end;

            @include tablet-wide {
                all: unset;
                justify-self: flex-end;
                outline: revert;
                cursor: pointer;
            }
        }
    }
}

.hero {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-rows: 1fr auto auto;
    color: $white;
    height: 55vh;
    min-height: 700px;
    max-height: 1200px;

    &::before {
        content: '';
        grid-column: 1;
        grid-row: 1 / span 3;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        order: 1;
    }

    &__image {
        grid-column: 1;
        grid-row: 1 / span 3;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 60px 40px;
        order: 1;
    }

    &__stats {
        grid-column: 1;
        grid-row: 3;
        gap: 1em;
        align-self: flex-end;
        padding: 20px 1em;
        background-color: rgba(8, 107, 181, 0.4);
        order: 1;

        &-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 0 1ch;
            max-width: 1400px;
            margin: 0 auto;

            @include tablet-wide {
                flex-direction: row;
            }
        }
    }

    h1,
    h2,
    h3 {
        text-transform: uppercase;
        margin: 0;
    }

    h1 {
        font-weight: 700;
        font-size: clamp(2rem, 5vw, 5rem);
        line-height: 1.1;
    }

    h2 {
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    }

    h3 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1;
    }
}

.page__section--demographics {
    @include tablet-narrow {
        --gap: 40px;
        display: grid;
        gap: var(--gap);
        padding: 80px 20px;
    }

    @include tablet-wide {
        grid-template-columns: 1fr 1fr;

        .page__sub-section {
            display: flex;
            flex-direction: column;
            justify-content: center;

            table {
                padding-left: 20px;
            }
        }
    }

    .page__heading {
        display: none;
    }

    .input {
        margin-bottom: 40px;

        &__label {
            display: block;
            font-size: clamp(1rem, 1.5vw, 1.6rem);
            font-weight: 700;
            margin: 0 0 1em;
        }

        &__range-wrapper {
            @include no-print;
        }
    }

    .demographics-blurb {
        h2 {
            font-size: clamp(1rem, 1.5vw, 1.6rem);
            font-weight: 700;
            margin: 0 0 1em;
        }
    }
}

.page__section--revenue-report {
    .page__heading {
        padding: 20px;

        .input__label {
            display: none;
        }
    }

    .modal {
        padding: max(2.5em, 20px);
        // z-index: unset;

        &__container {
            min-height: 600px;
        }

        &__body {
            display: flex;
            flex-direction: column;
            background-color: $black;
            max-height: min(100%, calc(100vh - var(--header-height, 0px) - 40px));
            padding: 40px;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(25em, calc(100% / 3)));
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 2;
            overflow: auto;
        }

        &__cta {
            padding: 0 0 40px;

            a {
                color: $brand-2;

                &:hover,
                &:visited {
                    color: $brand-1;
                }
            }
        }
    }
}

.table {
    margin: 0;
    width: 100%;
    line-height: 1.8;
    border-collapse: collapse;

    thead tr,
    tbody tr:nth-child(even) {
        background-color: $gray;
    }

    th,
    td {
        padding: 1px 0.5ch;
    }

    th {
        text-align: left;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__loading::after {
        content: '';
        display: inline-block;
        animation: dots 1s linear infinite;
    }
}

.revenue-report {
    @extend .page__section;
    @include grid;

    &__item {
        grid-column: auto / span 24;
        padding-bottom: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        gap: 1em;
        background-color: $black;
        color: $white;

        @include tablet-narrow {
            grid-column: auto / span 12;
        }

        @include tablet-wide {
            grid-column: auto / span 8;
        }

        @include print {
            page-break-inside: avoid;
        }
    }

    &__image {
        grid-row: 1;
        grid-column: 1 / span 2;
        aspect-ratio: 16 / 9;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-overlay {
            grid-row: 1;
            grid-column: 1 / span 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    &__buttons {
        display: flex;
        gap: 8px;
        justify-content: flex-start;
        margin: 0 auto;
        // align-items: center;
        // width: 100%;

        @include tablet-wide {
            justify-content: center;
        }

    }

    &__button {
        @include text-button;
        font-size: 1rem;
        background: rgba($brand-1-rgb, .7);
        padding: 8px 16px;
        margin: 0 auto;
        text-decoration: none;
        font-weight: 700;
        border-radius: 3px;

        &:disabled {
            cursor: not-allowed;
            filter: brightness(0.7);
        }
    }

    &__button--remove {
        position: absolute;
        top: 20px;
        right: 20px;
        margin: 0;
        padding: 0;
        border: none;
        background: $gray;
        border-radius: 100%;
        cursor: pointer;

        @include tablet-wide {
            width: auto;
        }

        @include no-print;

        &::after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background: url('/img/market-analysis/c-remove.svg') center center/contain no-repeat;
        }

        span {
            display: none;
        }
    }

    &__input {
        margin: 0;
        padding: 0 1em;
        display: flex;
        align-items: center;
        grid-column: 1 / span 2;

        @include tablet-narrow {
            grid-column: 2;
            grid-row: 2;
            padding: 0 1em 0 0;
        }
    }

    .input {
        &__label {
            text-transform: none;
            flex: 1 1 30%;

            &::after {
                content: ':';
            }
        }

        &__input {
            flex: 1 1 70%;
            padding: 0.5em;
            border: none;
        }
    }
}

.report-field {
    display: flex;
    column-gap: 0.5ch;
    align-items: center;

    &--procedure-potential {
        display: flex;
        flex-direction: column;

        .report-field {
            &__label {
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.6;
            }

            &__value {
                font-size: 1.5rem;
                font-weight: 700;

                @include desktop {
                    font-size: 1.9rem;
                }
            }
        }
    }

    &--patients {
        flex-direction: row-reverse;
        justify-content: flex-end;
        grid-column: 1 / span 2;
        padding: 0 1em;

        @include tablet-narrow {
            grid-column: 1;
            padding: 0 0 0 1em;
        }
    }
}

.keywords {
    &__view-all {
        @include text-button;
    }
}

.map {
    position: relative;
    width: 100%;
    max-height: 800px;
    margin: 0 auto;
    z-index: 1;

    @include no-print;

    &--print {
        @include print {
            display: block;
            position: relative;
            width: 6in;
            height: 6in;
        }
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 100%;
    }
}

/******************************************************************************
 * Modal
******************************************************************************/
.modal {
    &__container {
        position: relative;
    }

    &--suspense {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        pointer-events: all;
        z-index: 2000;

        #root > & {
            position: fixed;
            width: 100vw;
            height: 100vh;
        }
    }

    &--dismissible {
        cursor: pointer;

        > * {
            cursor: initial;
        }
    }

    &__body {
        position: sticky;
        top: calc(var(--header-height, 100px) + 20px);
    }
}

.debug {
    padding: 0 20px;
    width: 100%;
    border-top: 1px solid $gray;
}

/******************************************************************************
 * Blob
******************************************************************************/
.nc-loop-dots-5-48-icon-o {
    --animation-duration: 1s
}

.nc-loop-dots-5-48-icon-o * {
    animation: nc-loop-dots-5-anim var(--animation-duration) infinite
}

.nc-loop-dots-5-48-icon-o circle:nth-child(1) {
    transform-origin: 24px 10px
}

.nc-loop-dots-5-48-icon-o circle:nth-child(2) {
    transform-origin: 38px 24px;
    animation-delay: .1s
}

.nc-loop-dots-5-48-icon-o circle:nth-child(3) {
    transform-origin: 24px 38px;
    animation-delay: .2s
}

.nc-loop-dots-5-48-icon-o circle:nth-child(4) {
    transform-origin: 10px 24px;
    animation-delay: .3s
}

@keyframes nc-loop-dots-5-anim {

    0%,
    100% {
        opacity: 1;
        transform: scale(1)
    }

    50% {
        opacity: .4;
        transform: scale(.7)
    }
}

@import url("https://use.typekit.net/znh6rfs.css");

.blob {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;

    > * {
        grid-row: 1;
        grid-column: 1;
    }

    &__text {
        display: flex;
        flex-direction: column;
        place-items: center;
        place-content: center;
        mix-blend-mode: hard-light;
    }

    &__headline {
        text-align: center;
        color: white;
        font-size: clamp(.9rem, 1.8vw, 2rem);
        font-family: 'montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 3px;
        margin: 0;
    }

    &__item {
        width: 100%;
        height: 100%;

        &--overlay {
            mix-blend-mode: hard-light;
            opacity: .8;
        }
    }
}