---
layout: default
---

	<div class="form-page__page-wrapper">
			<section class="form-page__form-wrapper form-page__form-wrapper--iframe">
				<div class="form-page__headline">
					<h2>{{ page.headline }}</h2>
				</div>
				{% if page.text %}
				<div class="form-page__text">
					<p>{{ page.text }}</p>
				</div>
				{% endif %}
				<div class="form-page__form">
					<!-- <iframe src="{{ page.form_src }}" width="100%" height="{{ page.form_height }}" type="text/html"
						frameborder="0" allowTransparency="true" style="border: 0"></iframe> -->

					<!-- Calendly inline widget begin -->
					<div class="calendly-inline-widget" data-url="{{ page.form_src }}" style="min-width:320px;height:900px;"></div>
					<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
					<!-- Calendly inline widget end -->

				</div>
			</section>
			<section class="form-page__image-wrapper">
				<img src="{{ page.img_src }}" alt="{{ page.img_alt }}">
			</section>
	</div>

